*{
    padding: 0;
    margin: 0;
}
.box{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #192229;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 30%;
    height: 75%;
    align-items: center;
    border: solid 1px #2A3B47;
    background: #212E36;
}
.pantalla{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 80%;
    height: 12.5%;
    margin-bottom: 6.25%;
    /* border: solid 1px #2A3B47; */
    border-radius: 20px;
    background: #C8CDD0;
}
.box-botones{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
    margin-bottom: 5%;
}
.fila{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    
}
button{
    font-size: 20px;
    font-weight: 700;
    height: 50%; 
    width: 20%;
    border: none;
    /* border: solid 1px #2A3B47; */
    background-color: #A0A7AC;
    border-radius: 5px;
}
.container-igual{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #2A3B47;
    background-color: #52A5E0;
    border-radius: 5px;
}
.igual{
    width: 10%;
    height: 2px;
    text-align: center;
    background-color: #192229;
    margin-top: 1.5%;
}
